<%- include('partials/_header', { title: "URL - TinyApp" }) %>

    <div class="container">
      <div class="card text-center mt-3">
        <div class="card-header"></div>
        <div class="card-body">
          <h5 class="card-title">TinyURL for: <%= longURL %>
          </h5>
          <p class="card-text">
            Short URL ID: <a href="/u/<%= id %>">
              <%= id %>
            </a>
          </p>
          <h3 class="mb-1">Edit</h3>
          <form method="POST" class="form" action="/urls/<%= id %>">
            <div class="form-group row justify-content-center">
              <label class="p-2 col-1">New URL:</label>
              <input class="form-control mr-3 p-1 col-5" type="url" name="longURL" placeholder="http://"
                value="<%= longURL %>">
              <button type="submit" class="btn btn-outline-primary col-1 mb-3">Update</button>
            </div>
          </form>

        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
    <%- include('partials/_footer') %>